<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>

    </title>
</head>
<body>
<header>
    <h1> Expression Solver</h1>
    <hr>
</header>
<form action="/myapp/expression/" method="post">
    <label for="expression">Your Expression (e.g. A + KY == AZ) : </label>
    <input id="expression" type="text" name="expression" value="{{ expression_value }}">
    <input type="submit" value="SOLVE">
</form>
    {% if solution != None %}
        <b>Your soultion is : </b> {{solution}}
    {% endif %}
</body>
</html>